[submodule "external/cglm"]
	path = external/cglm
	url = git@github.com:recp/cglm.git
[submodule "external/raylib"]
	path = external/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "external/zozlib.js"]
	path = external/zozlib.js
	url = git@github.com:tsoding/zozlib.js.git
